
{% include 'header.html' %}
{% load static %}
{% if messages %}
    <div class="messages" style="margin-right:32px;">
        {% for message in messages %}
            <div class="alert alert-primary" {% if message.tags %}
                 class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

<div class="row" >

    <div class="row container-fluid" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-info">
                    <h4>Building Estimation Calculator : {{ obj.area }}</h4>
                </div>

                <div class="card-body">
                    <section class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">

                                    <!-- Main content -->
                                    <div class="invoice p-3 mb-3">
                                        <div class="row">
                                            <div class="col-12 table-responsive">
                                                <table class="table table-striped" id="invoice">
                                                    <thead>
                                                    <tr>
                                                        <th>Resource</th>
                                                        <th>Unit</th>
                                                        <th>Quantity</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>

                                                        <td>Cement</td>
                                                        <td>Bag</td>
                                                        <td>{{ required_cement }}</td>
                                                        <td>{{ total_cement_price }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Steel</td>
                                                        <td>KG</td>
                                                        <td>{{ required_steel }}</td>
                                                        <td>{{ total_steel_price }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Brick</td>
                                                        <td>Per Piece</td>
                                                        <td>{{ required_bricks }}</td>
                                                        <td>{{ total_bricks_price }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Aggregate</td>
                                                        <td>Per Cubic feet</td>
                                                        <td>{{ required_sand }}</td>
                                                        <td>{{ total_sand_price }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sand</td>
                                                        <td>Per Cubic feet</td>
                                                        <td>{{ required_aggregate }}</td>
                                                        <td>{{ total_aggregate_price }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Flooring</td>
                                                        <td>Per Sq feet</td>
                                                        <td>{{ required_flooring }}</td>
                                                        <td>{{ total_flooring_price }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Painting</td>
                                                        <td>Per Sq feet</td>
                                                        <td>{{ required_painting }}</td>
                                                        <td>{{ total_painting_price }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sanitary Fittings</td>
                                                        <td>Per Sq feet</td>
                                                        <td>{{ required_sanitary_fittings }}</td>
                                                        <td>{{ total_sanitary_fittings_price }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Electric Fittings</td>
                                                        <td>Per Sq feet</td>
                                                        <td>{{ required_electric_fitting }}</td>
                                                        <td>{{ total_electric_fitting_price }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Labour</td>
                                                        <td>Per Day</td>
                                                        <td>{{ required_labour }}</td>
                                                        <td>{{ total_labour_price }}</td>
                                                    </tr>
                                                    <tr class="bg-primary">
                                                        <td>Total</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>{{ total_price }}</td>
                                                    </tr>


                                                    </tbody>
                                                </table>
                                                <div id="editor"></div>
                                            </div>
                                            <!-- /.col -->
                                        </div>

                                        <div class="row no-print">
                                            <div class="col-12">
                                                <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;" id="download">
                                                <i class="fa fa-download"></i><a href="" style="color:white" id="download" > Download PDF</a>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.invoice -->
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<script >
window.onload = function () {
    document.getElementById("download")
        .addEventListener("click", () => {
            const invoice = this.document.getElementById("invoice");
            console.log(invoice);
            console.log(window);
            var opt = {
                margin: 1,
                filename: 'costEstimation.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };
            html2pdf().from(invoice).set(opt).save();
        })
    </script>
{% include 'footer.html' %}
