

{% include 'header.html' %}
{% load static %}
{% if messages %}
    <div class="messages" style="margin-right:32px;">
        {% for message in messages %}
            <div class="alert alert-primary" {% if message.tags %}
                 class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}




<div class="row">

    <div class="row container-fluid" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-info">
                    <h5>Building Estimation Calculator</h5>
                </div>

                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address">Area&nbsp;<span
                                                style="color:red;">*</span></label>
                                        <input id="input-address" name="area" class="form-control" type="text" required>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <button class="btn btn-primary float-right" type="submit" style="">Submit</button>
                    </form>
                </div>
            </div>

            <div class="card mt-4 ">
                <div class="card-header bg-primary">View Area estimate Calculator</div>
                <div class="card-body">
                    <div class="table-responsive mt-5">
                        <table class="table align-items-center table-flush" id="list">
                            <thead class="thead-light">
                            <tr>
                                <th data-sort="name">Sl no</th>
                                <th data-sort="name">Area</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody class="list">

                                <tr>
                                <th scope="row"><span class="name mb-0 text-sm">1</span>
                                </th>
                                <td>
                                    <span class="status">{{ obj.area }} sq feet</span><br>

                                </td>

                                <td style="width: 10%">
                                    <div class="btn-group">
                                        <a href="{% url 'cost_estimation' id=obj.id %}" style="margin-right: 5px;">
                                            <button class="btn btn-primary fa fa-eye"></button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


{% include 'footer.html' %}
