{% include 'header.html' %}
{% load static %}
<div class="main-content" id="panel" style="margin-top:10px;">
    {% if messages %}
    <div class="messages" style="margin-right:32px;">
        {% for message in messages %}
        <div class="alert alert-primary" {% if message.tags %}
             class="{{ message.tags }}" {% endif %}>{{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="container-fluid" style="margin-top: 20px;">
    <div class="card">

        <div class="card-header bg-primary">
            <h3>Add New Labour Request</h3>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>Labour Type</th>
                        <td><input type="text" class="form-control" name="labour_type"/></td>
                    </tr>
                    <tr>
                        <th>Quantity</th>
                        <td><input class="form-control" type="number" name="quantity"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary float-right" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{% include 'footer.html' %}