{% include 'header.html' %}
{% load static %}
{% if messages %}
    <div class="messages" style="margin-right:32px;">
        {% for message in messages %}
            <div class="alert alert-primary" {% if message.tags %}
                 class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

{% if stock <= 20 %}
    <marquee width="100%" direction="left" height="50px" style="background-color: red; color: white;">
        <p style='font-size: 15px; padding: 10px;'> Your Stck is less in amount . Please add Shock</p>
    </marquee>
{% endif %}

{% ifequal request.user.user_info.first.role  3 %}
    <div class="row">
            <div class="col-lg-4">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-id-badge fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                            <span>Total Quantity Stock</span>
                            <h2 class="font-bold">{{ total_quantity }}</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
{% endifequal %}

{% ifnotequal request.user.user_info.first.role  3 %}
    <div class="row">
    <div class="col-lg-4">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-briefcase fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Total Labour Work</span>
                    <h2 class="font-bold">{{ total_labour }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span>Total Employee</span>
                    <h2 class="font-bold">{{ total_employee }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-envelope-o fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Total Client </span>
                    <h2 class="font-bold">{{ total_client }}</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endifnotequal %}

<div class="row">

    {% if request.user.user_info.first.role == 3 %}
        <div class="container-fluid mt-2">

            <div class="card">
                <div class="card-header bg-primary">
                    Stock List
                </div>
                <div class="card-body"></div>
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-bordered align-items-center table-flush" id="stocklist">
                            <thead class=" mt-4">
                            <tr>
                                <th data-sort="name">Sl no</th>
                                <th data-sort="name">Material</th>
                                <th data-sort="name">Name</th>
                                <th data-sort="name">Quantity</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            {% for obj in obj %}
                                <tr>
                                    <th scope="row"><span class="name mb-0 text-sm">{{ forloop.counter }}</span>
                                    </th>
                                    <td>
                                        <span class="status">{{ obj.material.material_name }}</span><br>
                                        <small style="color:#fff;background-color:#e8583f;border-radius: 10px;padding-left:5px;padding-right:5px;">{{ obj.update_date }}</small>
                                    </td>
                                    <td>
                                        <span class="status">{{ obj.name }}</span><br>
                                    </td>
                                    <td>
                                        <span class="status">{{ obj.quantity }}</span>
                                    </td>

                                    <td style="width: 10%">
                                        <div class="btn-group">
                                            <a href="{% url 'update_stock' id=obj.id %}" style="margin-right: 5px;">
                                                <button class="btn btn-info fa fa-edit"></button>
                                            </a>
                                            <a href="{% url 'remove_stock' id=obj.id %}" style="margin-right: 5px;">
                                                <button class="btn btn-danger fa fa-trash"></button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endif %}

    {% ifnotequal request.user.user_info.first.role  3 %}
        <div class="row container-fluid" style="margin-top:30px;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <div class="row align-items-center">
                            <h4 class="text-blod" style="padding-left:20px;">Client List</h4>
                        </div>
                    </div>
                    <div class="container-fluid" style="margin-top:30px;">
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush" id="adminHome">
                                <thead class="widget style1 navy-bg">
                                <tr>
                                    <th>SL</th>
                                    <th>Client Name</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                {% for c in client_obj %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="" class="h6">{{ c.name }}</a> <br/>
                                            <small style="color:#fff;background-color:#e8583f;border-radius: 10px;padding-left:5px;padding-right:5px;">{{ c.created_at }}</small>
                                        </td>
                                        <td>{{ c.phone }}<br/>
                                        </td>
                                        <td>{{ c.address }}<br/>
                                            <small>{{ c.email }}</small>
                                        </td>
                                        <td style="width: 10%">
                                            <div class="btn-group">
                                                <a href="{% url 'update_client' id=c.id %}" style="margin-right: 5px;">
                                                    <button class="btn btn-info fa fa-edit"></button>
                                                </a>
                                                <a href="" data-toggle="modal" id="{{ c.id }}"
                                                   data-target="#surve_delete{{ c.id }}">
                                                    <button class="btn btn-danger fa fa-trash"></button>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                    <div class="modal fade" id="surve_delete{{ c.id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Are You Sure To
                                                        Delete The Following Client?</h5>
                                                    <button class="close" type="button" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">{{ c.name }}</div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-danger" type="button" data-dismiss="modal">
                                                        Cancel
                                                    </button>
                                                    <a class="btn btn-primary" href="{% url 'remove_client' id=c.id %}">Confirm
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}


                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    {% endifnotequal %}

</div>


{% include 'footer.html' %}

<script>
    $(document).ready(function () {
        $('#adminHome').DataTable(
            {
                language: {
                    searchPlaceholder: "Search records",
                    search: "",
                }
            })
    })
</script>

<script>
    $(document).ready(function () {
        $('#stocklist').DataTable(
            {
                order: false
            })
    })
</script>