{% include 'header.html' %}
{% load static %}
<div class="container-fluid" style="margin-top: 20px;">
    <div class="card">

        <div class="card-header bg-primary">
            <h3>Add New Stock Management</h3>
        </div>
        <div class="card-header">
            <form method="POST">
                {% csrf_token %}
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>Construction Site Location </th>

                        <td>
                            <select name="construct_site" id="" class="form-control">
                                {% for obj in obj %}
                                <option value="{{ obj.location }}">{{ obj.location }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Material</th>
                        <td>
                            <select name="material" id="" class="form-control">
                                {% for obj in material_obj %}
                                <option value="{{ obj.material_name }}">{{ obj.material_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Quantity</th>
                        <td><input class="form-control" type="text" name="quantity"/>
                        </td>
                    </tr>

                    </tbody>


                </table>
                <button class="btn btn-primary float-right" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{% include 'footer.html' %}